body {
  font-family: "Playfair Display", serif;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 26pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
}

.navbar a, .navbar span {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  text-decoration: none;
}

.navbar a.garlic {
  border-right: 1px solid #f2f2f2;
}

.youMayAlsoLike {
  font-size: 16pt;
  font-family: "Open Sans", Arial, sans-serif;
}

.youMayAlsoLikeList li {
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 1em;
}

.youMayAlsoLikeList a, a.black {
  color: black;
}

img.garlic {
  width: auto;
  height: 6em;
  margin: 2em auto;
}

.sidebar, .article {
  padding: 2em;
}

.article {
  border-left: 1px solid #ccc;
}

.article img {
  width: 50%;
  height: auto;
  margin: 2em auto;
  display: block;
}

.newsInBrief{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5em;
  color: green;
  display: block;
}